body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

div {
  background: #fff;
  padding:0px ;
  text-align: center;

}

.sidebarl {
  padding: 10px;
  height: 100%;
  float:left;
  background: #ffc3b1;
}

.sidebarr {
  padding: 10px;
  height: 100%;
  background: #ffc3b1;
  float:left;
  
}


.center {
  padding: 10px;
  width:600px;
  float:left;

  
}

#wrapper {
  width:640px;
  height: 100%;
  margin: auto;
}
