<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap" rel="stylesheet"> 
    {% feed_meta %} 
    {% seo %}
  </head>
  <body>

    <div id = "wrapper">

    <div class = "sidebarl">
    </div>

    <div class = "center">
      {% include navigation.html %}
      {{ content }}
    </div>

    <div class = "sidebarr">
    </div>

    </div>

  </body>
</html>